body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a:hover {
  text-decoration: none;
}

.navbar {
  padding-left: 0;
  border-bottom: 1px solid;
  padding-bottom: .5rem;
  background: #0e19a1;
  justify-content: center;
}
.navbar-brand h1 {
  font-family: Montserrat,Georgia,serif;
  font-weight: bolder;
  color: #eee;
}
