/* @import url('https://fonts.googleapis.com/css?family=Lobster'); */

body {
  margin: 10px;
  font-family: 'Lobster', '標楷體', 'serif' !important;
}
input.form-control {
  margin-bottom: 10px;
}
.disable
{
  cursor: not-allowed;
}

.disable > * 
{
  pointer-events:none;
}

.imageBox {
  height: 400px;
}

.imageBox_image {
  position: relative;
}

.imageBox_btn {
  position: absolute;
  top: calc(50%-19px);
}

.imageBox_btn__left {
  left: 0; 
}
.imageBox_btn__right {
  right: 0; 
}

.container {
  margin-top: .5rem;
  margin-bottom: .5rem;
}



#recipeTable_filter {
  text-align: right
}
#recipeTable_filter input {
  margin-left: 5px;
  border-radius: 5px;
}

.dataTables_length {
  text-align: right
}

.recipeActions {
  position: absolute;
  top: 7rem;
}
.recipeActions button {
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  text-shadow: 5px;
}
#recipeTable_paginate {
  text-align: center;
}
#recipeTable_paginate > * {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}
#recipeTable_paginate > span > * {
  padding: 10px;
}
#recipeTable_info {
  display: none;
}
.table-responsive {
  overflow: hidden;
}

#recipeTable_length select {
  border-radius: 5px;
  padding-left: 5px;
}

.table tr {
  line-height: 18px;
}

.btn {
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 3px 3px #ccc;
}


button.input-group-text {
  padding: 8px .5rem;
}

.labelButton {
  background-color: rgb(221,221,221);
  margin-bottom: 0;
  padding: 8px .5rem;
}

.selectImage .selectImageSelector {
  display: none;
}

.selectImage:hover .selectImageSelector {
  display: block;
}
.btn-origin {
  background: #c4d9ee;
}
.remark label {
  width: 120px;
}